<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <mvc:annotation-driven/>

    <context:property-placeholder location="classpath:conf/sample.properties"/>

    <context:component-scan base-package="com.douby.cartweb.controller"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.douby.cartweb.interceptors.SsoInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <dubbo:application name="cart-webs" owner="douby"/>

    <dubbo:registry protocol="zookeeper" port="2181" address="192.168.121.144"/>

    <dubbo:reference interface="com.douby.cartproviderinterface.service.CartService" id="cartService" check="false"/>
    
    <dubbo:reference interface="com.douby.sso.service.AccountService" id="accountService" check="false"/>

</beans>